body {
  background-color: #222222;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  color: white;
  margin: 0;
}

p {
  padding: 12px 70px;
}

/* No magic here! */
h1, h2 {
  font-weight: 700;
  font-style: italic;
}

/* No magic here, either! */
h1 {
  margin: 0;
  font-size: 60px;
}

header {
  background-color: #F85658;
  height: 500px;

  /* Here's where the magic happens! */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}