@import url(http://fonts.googleapis.com/css?family=Bevan);

body {
  background: black;
}

/* center images to aid in rotation around center of clock */
img {
  position: absolute;
  left: 50%;
  margin-left: -125px;
}

/* make the clock face */
.clock {
  width: 250px;
  height: 250px;
  border-radius:100%;
  border: deeppink 5px solid;
  margin:8% auto;
}

.title {
  font-family: Bevan;
  font-size: 100px;
  text-align: center;
  color: cornflowerblue;
}
