/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* { /* Firexfox */ /* Safari/Chrome/iOS/Android */
 box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
 content: ".";
 display: block;
 clear: both;
 visibility: hidden;
 line-height: 0;
 height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right; 
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left; 
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
 color: #000;
 font-size: 12px;
 line-height: 1.4;
 font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
#container {
  width: 960px;
  margin: auto;
 text-align: center;
}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/
@-webkit-keyframes spin-me{
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  25% {
    -webkit-transform: rotateZ(135deg);
    transform: rotateZ(135deg);
  }
  50% {
    -webkit-transform: rotateZ(270deg);
    transform: rotateZ(270deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes spin-me{
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  25% {
    -webkit-transform: rotateZ(135deg);
    transform: rotateZ(135deg);
  }
  50% {
    -webkit-transform: rotateZ(270deg);
    transform: rotateZ(270deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

.thing-to-spin {

  /* Shorthand */
  -webkit-animation: spin-me 500ms linear infinite;
animation: spin-me 500ms linear infinite;
}




