#my-div {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    background-color: yellow;
    transform: rotate(45deg) scale(2, 0.5) translate(100px, 100px);
    transition: all 1s ease-in;
}

#my-div:hover {
    background-color: red;
}
