/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
 -moz-box-sizing: border-box; /* Firexfox */
 -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
 box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
 content: ".";
 display: block;
 clear: both;
 visibility: hidden;
 line-height: 0;
 height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
 color: #000;
 font-size: 12px;
 line-height: 1.4;
 font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
#container {
	width: 960px;
	margin: auto;
 text-align: center;
}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/


.thing-to-spin {
  /* Shorthand */

}




