ul {
	padding-left: 0;
}

li {
	list-style: none;
}

li a {
	border: 0;
}

p, a {
	border: 2px solid black;
}

hr {
	margin: 80px 0;
}

p {
	font-size: 20px;
}

strong, em {
	background-color: rgba(255, 0, 0, .5);
}

em {
	padding: 20px;
	width: 150px;
	height: 50px;
}

.note {
	border: none;
	text-indent: 40px;
	font-style: italic;
}