.row, .column {
  /* By default, box-sizing is set to content-box */
  box-sizing: border-box;
}

.row {
  /* Let's add a border so we can see our rows better */
  border: 2px solid rebeccapurple;
}

.row:before, .row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.column {
  /* Let's add another border so we can see our columns better */
  position: relative;
  border: 2px solid tomato;
  float: left;
  border-radius: 20px;
  text-align: center;
}

.column .column {
  border: 2px solid springgreen;
}

.header > .column,
.footer > .column {
  padding: 25px;
}

.middle > .column {
  height: 400px;
  line-height: 400px;
}

.header ul {
  margin: auto;
}

.header li {
  display: inline-block;
  list-style-type: none;
}

.module {
  /* Let's add a background color to our modules so they're clearly visible.*/
  background: lightblue;

  /* Now let's give our modules a left and right margin of 10px */
  margin: 0 10px 0 10px;
}

.column-1 { width: 8.333%; }
.column-2 { width: 16.66%; }
.column-3 { width: 25%; }
.column-4 { width: 33.33%; }
.column-5 { width: 41.66%; }
.column-6 { width: 50%; }
.column-7 { width: 58.33%; }
.column-8 { width: 66.66%; }
.column-9 { width: 75%; }
.column-10 { width: 83.33%; }
.column-11 { width: 91.66%; }
.column-12 { width: 100%; }


@media only screen and (max-width: 480px) {
	.column {
    margin: 1% 0 1% 0%;
    width: 100%;
  }
}
