/*------------------------------------------
  SETUP                   
/------------------------------------------*/
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 30px;
}