/*------------------------------------------
  SETUP                   
/------------------------------------------*/
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 30px;
}

button {
  border: 3px solid #F78FA7;
  background-color: #F78FA7;
  padding: 20px;
  border-radius: 4px;
  transition: all 3s ease;
}

button:hover {
  background-color: white;
}